body {
  text-align: center;
  background-image: url("../agogo.png");
  background-repeat: no-repeat;
  background-color: burlywood;
  background-size: 100px;
  background-position-x: 10px;
  background-position-y: 10px;
  padding-top: 60px;
}
@media (min-width: 500px) {
  body {
    background-size: 160px;
  }
}
@media (min-width: 980px) {
  body {
    background-size: 280px;
    background-position-x: 50px;
    background-position-y: 20px;
  }
}

h1 {
  margin-bottom: 60px;
}

.rhythm-buttons {
  margin-bottom: 60px;
}
.rhythm-buttons label.btn {
  margin-bottom: 5px;
}

.tempo-select {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
}

#graph {
  margin-bottom: 60px;
}
#graph #num {
  display: inline-block;
}
#graph #num .num-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  line-height: 15px;
  font-family: monospace;
  font-weight: bold;
}
@media (min-width: 768px) {
  #graph #num .num-inner {
    font-size: 22px;
    line-height: 22px;
  }
}
#graph #boxes {
  display: inline-block;
  font-size: 0;
}
#graph #boxes .box {
  display: inline-block;
  background: white;
  width: 23px;
  height: 23px;
  margin: 5px 5px 0 0;
  border-radius: 5px;
}
@media (min-width: 768px) {
  #graph #boxes .box {
    width: 35px;
    height: 35px;
    margin-right: 7px;
  }
}
#graph #boxes .box:last-child {
  margin-right: 0;
}
#graph #boxes .box.full {
  background: green;
}

a.main-button {
  display: block;
  background: green;
  color: white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}
a.main-button i {
  font-size: 40px;
  line-height: 100px;
  text-align: center;
}
a.main-button i.fa-play {
  margin-left: 5px;
}
a.main-button:hover {
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}
a.main-button i.fa-play {
  display: none;
}
a.main-button.paused i.fa-pause {
  display: none;
}
a.main-button.paused i.fa-play {
  display: inline;
}
