
$c-primary: green;
$c-secondary: white;
$c-background: burlywood;

$break-sm: 500px;
$break-md: 768px;

$margin-sm: 40px;
$margin-lg: 60px;

body {
  text-align: center;
  background-image: url('../agogo.png');
  background-repeat: no-repeat;
  background-color: $c-background;
  background-size: 100px;
  background-position-x: 10px;
  background-position-y: 10px;
  padding-top: $margin-sm;
  transition: background-size 0.2s;
  will-change: background-size;

  @media (min-width: 500px) {
    background-size: 160px;
    padding-top: $margin-lg;
  }

  @media (min-width: 980px) {
    background-size: 280px;
    background-position-x: 50px;
    background-position-y: 20px;
  }
}

#title-bar,
#control-rhythm,
#tempo-select,
#graph {
  margin-bottom: $margin-sm;

  @media (min-width: $break-sm) {
    margin-bottom: $margin-lg;
  }
}

#title-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    @media (max-width: $break-sm) {
      font-size: 1.5rem;
      max-width: 200px;
    }
  }

  #settings-button {
    margin-left: 10px;
  }
}

@media (min-width: $break-md) {
  .mobile-notice {
    display: none;
  }
}

#control-rhythm {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;

  .rhythm-row {
    margin-bottom: 20px;

    button {
      margin-bottom: 5px;
    }
  }

  label.btn {
    margin-bottom: 5px;
  }
}

#tempo-select {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;

  #display-tempo {
    font-size: 18px;
    line-height: 18px;
    font-family: monospace;
    font-weight: bold;
  }
}

#graph {

  #num {
    display: inline-block;

    .num-inner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
      line-height: 15px;
      font-family: monospace;
      font-weight: bold;

      @media (min-width: $break-md) {
        font-size: 22px;
        line-height: 22px;
      }
    }
  }

  #boxes {
    display: inline-block;
    font-size: 0;

    .box {
      display: inline-block;
      background: $c-secondary;
      width: 23px;
      height: 23px;
      margin: 5px 5px 0 0;
      border-radius: 20px;
      transition: transform .2s ease-out;
      will-change: transform;

      &.highlight {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
      }

      @media (min-width: $break-md) {
        width: 35px;
        height: 35px;
        margin-right: 7px;
      }

      &:last-child {
        margin-right: 0;
      }

      &.low {
        background: $c-primary;
      }
      &.high {
        background: lighten($c-primary, 10%);
      }
    }
  }
}

a#control-play {
  display: block;
  position: relative;
  background: $c-primary;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  border-collapse: separate;
  transition: all 300ms ease;

  .icon {
    box-sizing: border-box;
    height: 54px;
    position: absolute;
    left: 37px;
    top: 22px;

    border-color: transparent transparent transparent #efefef;
    transition: 300ms all ease;
    will-change: border-width;
    cursor: pointer;

    // play state
    border-style: solid;
    border-width: 27px 0 27px 40px;

    &::before {
      content: '';
      background: rgba(0, 255, 0, 0.2);
      width: 122px;
      height: 122px;
      display: block;
      z-index: -1;
      border-radius: 150px;
      position: relative;
      top: -33px;
      left: -81px;
      opacity: 0;
      transition: all 300ms ease;
    }
  }

  // paused state
  &[data-action="pause"] .icon {
    border-style: double;
    border-width: 0px 0 0px 40px;
    left: 30px;
    top: 22px;

    &::before {
      opacity: 1;
    }
  }

  &:hover {
    background-color: darkgreen;
  }
}
