
$margin: 60px;

body {
  text-align: center;
  background-image: url('../agogo.png');
  background-repeat: no-repeat;
  background-color: burlywood;
  background-size: 100px;
  background-position-x: 10px;
  background-position-y: 10px;
  padding-top: $margin;

  @media (min-width: 500px) {
    background-size: 160px;
  }

  @media (min-width: 980px) {
    background-size: 280px;
    background-position-x: 50px;
    background-position-y: 20px;
  }
}

h1 {
  margin-bottom: $margin;
}

.rhythm-buttons {
  margin-bottom: $margin;
}

.tempo-select {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: $margin;
}

#graph {
  margin-bottom: $margin;

  #num {
    display: inline-block;

    .num-inner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      line-height: 22px;
      font-family: monospace;
      font-weight: bold;
    }
  }

  #boxes {
    display: inline-block;
    font-size: 0;

    .box {
      display: inline-block;
      background: white;
      width: 35px;
      height: 35px;
      margin-right: 7px;
      border-radius: 5px;

      &:last-child {
        margin-right: 0;
      }

      &.full {
        background: green;
      }
    }
  }
}

a.main-button {
  display: block;
  background: green;
  color: white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;

  i {
    font-size: 40px;
    line-height: 100px;
    text-align: center;

    &.fa-play {
      margin-left: 5px;
    }
  }

  &:hover {
    color: white;
    background-color: darkgreen;
    text-decoration: none;
  }

  i.fa-play {
    display: none;
  }
  &.paused {
    i.fa-pause {
      display: none;
    }
    i.fa-play {
      display: inline;
    }
  }
}
