
$margin: 60px;

body {
  text-align: center;
  background-image: url('../agogo.png');
  background-repeat: no-repeat;
  background-size: 300px;
  background-color: burlywood;
  background-position-x: 50px;
  background-position-y: 20px;
  padding-top: $margin;
}

h1 {
  margin-bottom: $margin;
}

.rhythm-buttons {
  margin-bottom: $margin;
}

.tempo-select {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: $margin;
}

a.main-button {
  display: block;
  background: green;
  color: white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;

  i {
    font-size: 40px;
    line-height: 100px;
    text-align: center;

    &.fa-play {
      margin-left: 5px;
    }
  }

  &:hover {
    color: white;
    background-color: darkgreen;
    text-decoration: none;
  }

  i.fa-play {
    display: none;
  }
  &.paused {
    i.fa-pause {
      display: none;
    }
    i.fa-play {
      display: inline;
    }
  }
}
